*{
    margin: 0;
    padding: 0;
    border: 0;
}

#navegation{
    /*background-image: radial-gradient(#5C9DE0,#528CC8,#2C4B6C);*/
    height:450px;
    box-shadow: black;
    width: 300px;
}

.table{
    margin: 5px;
    box-shadow: white;

}
textarea {
    resize: none;
}